.card {
  padding: 16px;
}
div.o-login__outer-p {
  height: 170px;
  width: 300px;
  background-color: lightgray;
}

div.o-login__inner-p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ui.teal.button,
.ui.teal.buttons .button {
  background-color: #007bff !important;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
.ui.center.aligned.header {
  color: #007bff !important;
}

.ui.teal.header img {
  display: none !important;
}
.o-login__msg {
  padding: 12px 0;
}
